@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(226, 88, 88, 0.882);
    font-family:'poppins',sans-serif;
}

::-webkit-scrollbar{
    display: none;
}
.container{
    background-color: white;
}

@media (max-width:768px) {
    body{
        
        min-height: 100vh;
        height: fit-content;
        
    }
    .col-md-6 h1{
        margin: auto;
    }
    
}